annotated-types==0.6.0
asttokens==2.4.1
backcall==0.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.49.0
gluonts==0.14.4
graphviz==0.8.4
idna==3.6
imageio==2.34.0
importlib_resources==6.1.2
ipython==8.12.3
jedi==0.19.1
joblib @ file:///croot/joblib_1685113087166/work
kiwisolver==1.4.5
matplotlib==3.7.5
matplotlib-inline==0.1.6
mxnet-cu101==1.7.0
networkx==3.1
numpy==1.23.0
opencv-python==4.2.0.32
packaging==23.2
pandas==2.0.3
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.6.3
pydantic_core==2.16.3
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
PyWavelets==1.4.1
requests==2.31.0
scikit-image==0.17.2
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1621370412049/work
scipy==1.10.1
six==1.16.0
stack-data==0.6.3
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2023.7.10
toolz==0.12.1
torch==1.8.1+cu101
torchaudio==0.8.1
torchvision==0.9.1+cu101
tqdm==4.66.2
traitlets==5.14.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
zipp==3.17.0
